<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VVNAZ MARTIAL ARTS SUPPLY</title>
</head>
<body>
<header>
    <h1>About Us</h1>
</header>
<section>
    <p> VV Naz Martial Arts 2.0 is a nonprofit Martial Arts Ministry. We are a faith based Christian program
        that serves the Antelope Valley community from all walks of life. Our school is a certified branch school of
        the World Black Belt Bureau. We have received a community service award  from the County of Los Angeles for our
        outreach. Our team of Instructors have partnered with the LAPD Training division to bring the highest quality
        of technique and safety to students.</p>
        <p>
            The roots of our martial arts styles are traditional Tae Kwon Do combined with Filipino stick fighting
        (Escrima). We accept individuals that have no experience as well as more experienced transfer students.
        We are looking to expand our program by recruiting instructors from all martial arts disciplines.
        Our program is focused on building strong individuals by teaching self-control and self-discipline in a highly
        positive environment. We have a proven track record of success for building confidence in the youth and
        bringing families closer together by committing to a common goal whether that be a healthy lifestyle, learning
        to protect yourself and others or achieving the rank of Black Belt.</p>
        <p>
        Our new sales division will be selling all you need to participate in our martial arts program safely and
        efficiently.
    </p>
</section>
<footer>
    <a href="mainscreen.html">Back to Home</a>
</footer>
</body>
</html>